<?xml version="1.0" encoding="utf-8"?><!--
  ~  Created by Medvediev Viktor [mvproject]
  ~  Copyright © 2023
  ~  last modified : 10.05.23, 20:21
  ~
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>